.calc{
    background-color: #2C3A47;
    min-height: 500px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}

.displayer{
    width: 100%;
    height: 50px;
}

.upper-displayer{
    width: 100%;
    height: 50px;
}