.calc{
    background-color: #2C3A47;
    border-radius: 5px;
  //  min-height: 350px;
    width: 310px;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}


.buttons{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 70px 70px 70px 70px;
    grid-template-rows: 35px 35px 35px 35px 35px;
    padding-top: 15px;
}